{% extends 'base.html' %}
{% block content %}
	<div class="container">
	    <h1 class="text-center">
	    	<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Hello, Student!
	    </h1>
		<br/>

		{% load static %}
		<img src="{% static 'posts/dragon.png' %}" class="img-responsive center-block" style="max-height:200px;"/>
		<h2>Welcome to your academic helper calendar for 15112.</h2>
		<hr/>
		<h3>Please log in first.</h3>
		{% if info %}
		{{ info }}
		<br/>
		<br/>
		{% endif %}
		<form method="POST" action="{% url 'account:login' %}">
			{% csrf_token %}
			{% if request.GET.next %}
			<input type="hidden" name="next" value={{ request.GET.next }}>
			{% endif %}
			Username:
			<br/>
			<input type="text" name="username"/>
			<br/>
			<br/>
			Password:
			<br/>
			<input type="password" name="password"/>
			<br/>
			<br/>
			<input class="btn btn-success" type="submit" value="Log In">
		</form>
	</div>
	<br/>
	<div class="container">
		<h4>First time here?</h4>
		<a href="{% url 'account:signup' %}" class="btn btn-lg btn-default">Click Here and Sign Up</a>
	</div>
{% endblock %}